@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


@import url(/main.css);
* {
    --border: #a3a3a3;
    --lightgrey: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
}

.sidebar-image
{
    display: flex;
    flex-direction: column;
    width: 20.5rem;
    padding: 2rem;

}

.image-conatiner {
    
    width: 20rem;
    flex-wrap: wrap;
    gap: 1rem;
   
    padding: 2rem;

}

.responsive-img {
    width: 100%;
    height: auto;
 
}

.circular {
display: flex;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
}

.circular img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

