@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    --background-header: #00BFA6;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border: 0.1rem outset ;
    box-shadow: 4px 5px #d4d4d4;
    
}

h1 {
    color: var(--background-header);
    font-weight: bolder;
}

.header-text {
    margin-top: 1rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0.4rem;
    color: var(--background-header);
    font-size: large;

}

.link:hover {
    background-color: var(--background-header);
    color: beige;
}

.image-text-container {
    position: relative;
    width: 32%;
    margin: auto;
}

img {
    margin-top: 4rem;
    width: 100%;
    height: auto;

}

.text {
    position: absolute;
    bottom: -7rem;

    font-size: larger;
}

.text-link {
    margin-top: 1.5rem;
    margin-left: 5rem;
}

.primary-link {
    color: beige;
    background-color: var(--background-header);
    border: 0.1rem solid var(--background-header);
    border-radius: 2rem;
}

.secondary-link {
    border-radius: 2rem;
    border: 0.1rem solid var(--background-header);
    margin-left: 1rem;
}