@import url(/index.css);
::-webkit-scrollbar {
    width: 0.4rem;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.search-bar {
    padding: 0.5rem;
    border: 0.1rem solid #6ee7b7;
    border-radius: 0.3rem;
    width: 13rem;
}

.search-bar:hover {
    border-color: var(--background-header);
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 2rem;
    
}

h4 {
    padding: 0.5rem 0.8rem;
}

.contents {
    display: flex;
    justify-content: flex-start;
}

.component-container {
    padding: 2rem 4rem 4rem 1rem;
    line-height: 1.7rem;
    font-size: large;

}

.content-text {
    margin: 1.5rem;
}

.break-line {
    margin: 1rem 0rem;
    color: #d4d4d4;
}

.code-img {
   width: 36rem;
    margin: 1rem 1.5rem;
   width: 38rem;
}

.arrow-nav
{
    display: flex;
    justify-content:space-between;
}
.arrow {
    border: solid black;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.3rem;
   
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .arrow-btn
  {
cursor: pointer;
padding: 2rem;
color: black;
text-decoration: none;
  }