<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="input.css">
    <title>Input</title>
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Explore UI</h1>
            <div class="header-text">
                <a href="/index.html" class="link">Home</a>
                <a href="/main.html" class="link">Installation</a>
                <input class="search-bar" type="text" placeholder="Search...">
            </div>
        </div>
    </header>
<div class="contents">

    <div class="sidebar-input">
        <h4>Getting Started</h4>
        <a href="/main.html" class="link">Introduction</a>

        <h4>Components</h4>
        <a href="/components/alert/alert.html" class="link">Alert</a>
        <a href="/components/avatar/avatar.html" class="link">Avatar</a>
        <a href="/components/badge/badge.html" class="link">Badge</a>
        <a href="/components/button/button.html" class="link">Button</a>
        <a href="/components/card/card.html" class="link">Card</a>
        <a href="/components/Images/image.html" class="link">Image</a>
        <a href="/components/Input/input.html" class="link">Input</a>
    </div>
    <div class="component-container">

        <h2>Input</h2>
        <p class="content-text">Inputs are necessary for user interaction with the website. Inputs are used to take information from the user, and then save the data to the server, accordingly.</p>
        <hr class="break-line">
        <h3> Label Input</h3>

        <div class="alert-container">
            <label >Email-ID:</label>
            <input class="input-text" type="text" placeholder="Enter your text here...">
        </div>
        <iframe
  src="https://carbon.now.sh/embed/tar0CJAiQ487eNtR2rIl"
  style="width: 803px; height: 216px; border:0; transform: scale(1); overflow:hidden;" class="code-img"
  sandbox="allow-scripts allow-same-origin">
</iframe>
<hr class="break-line">

<h3>
    Input Validation/Error
</h3>
        <div class="alert-container">
            <label >Email-ID:</label>
            <input class="input-text outline-error" type="text" placeholder="Enter your text here...">
            <small class="outline-error ">Please Enter Correct Email-ID</small>
        </div>
        <iframe
  src="https://carbon.now.sh/embed/qqHpT7iXLZBeHwPEMEjM"
  style="width: 915px; height: 243px; border:0; transform: scale(1); overflow:hidden;" class="code-img"
  sandbox="allow-scripts allow-same-origin">
</iframe>

        <hr class="break-line">
        
        <h3>
            Input validation /Success
        </h3>

        <div class="alert-container">
            <label >Password</label>
            <input class="input-text outline-success" type="password" placeholder="Enter your text here...">
            <small class="outline-success ">Password matched</small>
        </div>
        <iframe
  src="https://carbon.now.sh/embed/o9mMVNt5fqRryQLWYl6h"
  style="width: 941px; height: 235px; border:0; transform: scale(1); overflow:hidden;" class="code-img"
  sandbox="allow-scripts allow-same-origin">
</iframe>

        <div class="arrow-nav">
            <a href="index.html" class="arrow-btn"><i class="arrow left"></i>Home</a>
            <a href="/components/alert/alert.html" class="arrow-btn">Alert<i class="arrow right"></i></a>
        </div>
    </div>
</div>


    
</body>
</html>