<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="input.css">
    <title>Input</title>
</head>
<body>
    <div class="component-container">
        <h2>Input</h2>
        <div class="alert-container">
            <label >Email-ID:</label>
            <input class="input-text" type="text" placeholder="Enter your text here...">
        </div>

        <div class="alert-container">
            <label >Email-ID:</label>
            <input class="input-text outline-error" type="text" placeholder="Enter your text here...">
            <small class="outline-error ">Please Enter Correct Email-ID</small>
        </div>

        <div class="alert-container">
            <label >Password</label>
            <input class="input-text outline-success" type="password" placeholder="Enter your text here...">
            <small class="outline-success ">Password matched</small>
        </div>
    </div>
</body>
</html>