<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="button.css">
    <script src="https://kit.fontawesome.com/d1df61a108.js" crossorigin="anonymous"></script>
    <title>Button</title>
</head>
<body>
    <div class="component-container">
        <h2>Buttons</h2>
        <div class="button-container">
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-secondary">Secondary</button>
            <button class="btn btn-error">Error</button>
            <button class="btn btn-success">Success</button>
        </div>
        <div class="button-container">
            <button class="btn btn-primary-outline">Primary</button>
            <button class="btn btn-error-outline">Error</button>
            <button class="btn btn-success-outline">Success</button>
        </div>
        <div class="button-container">
            <a href="#" class="btn btn-link-primary">Link</a>
            <a href="#" class="btn btn-link-secondary">Link </a>
        </div>

        
        <div class="button-container">
            
               <button class="icon-button"><i class="fas fa-home"> Home</i></button> 
               <button class="icon-button"><i class="fas fa-caret-down"> Menu</i></button> 
               <button class="icon-button"><i class="far fa-copy"> Copy</i> </button> 
        </div>

        <div class="button-container">
                <button class="float-btn"><i class="fas fa-sms float-btn"></i></button>
                <button class="float-btn"><i class="fas fa-plus float-btn"></i></button>
        </div>
    </div>
</body>

</html>