<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <title>Avatar</title>
</head>

<body>
    <div class="component-container">
        <h2>Avatar</h2>
        <div class="avatar-container">

            <img class="avatar-small" src="/assets/avatar.jpg" alt="Avartar">
            <img class="avatar-medium" src="/assets/avatar.jpg" alt="Avartar">
            <img class="avatar-large" src="/assets/avatar.jpg" alt="Avartar">

        </div>

        <div class="avatar-container">

            <img class="square-avatar-small" src="/assets/square-avatar.jpg" alt="Avartar">
            <img class="square-avatar-medium" src="/assets/square-avatar.jpg" alt="Avartar">
            <img class="square-avatar-large" src="/assets/square-avatar.jpg" alt="Avartar">

        </div>
    </div>
</body>

</html>