<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d1df61a108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="toast.css">
    <title>Explore UI | Toast</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Explore UI</h1>
            <div class="header-text">
                <a href="/index.html" class="link">Home</a>
                <a href="/main.html" class="link">Installation</a>
                <input class="search-bar" type="text" placeholder="Search...">
            </div>
        </div>
    </header>

    <div class="contents">
        <div class="sidebar-toast">
            <h4>Getting Started</h4>
            <a href="/main.html" class="link">Introduction</a>

            <h4>Components</h4>
            <a href="/components/alert/alert.html" class="link">Alert</a>
            <a href="/components/avatar/avatar.html" class="link">Avatar</a>
            <a href="/components/badge/badge.html" class="link">Badge</a>
            <a href="/components/button/button.html" class="link">Button</a>
            <a href="/components/card/card.html" class="link">Card</a>
            <a href="/components/Images/image.html" class="link">Image</a>
            <a href="/components/Input/input.html" class="link">Input</a>
            <a href="/components/toast/toast.html" class="link">Toast</a>
            <a href="/components/navigation/nav.html" class="link">Navigation Bar</a>
        </div>

        <div class="component-container">
            <h2>Toast</h2>
            <p class="content-text">Toast display messages based on an interaction, that has happened between user and
                the web Interfaces .</p>
            <hr class="break-line">

            <div class="toast-container">
                <div class="toastbar">
                    <p class="content-toast">Can't send photo.Try after some time.</p>
                    <button class="btn-t">RETRY</button>
                    <i class="fas fa-times cross"></i>
                </div>
            </div>
            <iframe src="https://carbon.now.sh/embed/23pDvKbXwwxBx0RiufxZ"
                style="width: 700px; height: 235px; border:0; transform: scale(1); overflow:hidden;" class="code-img"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class="arrow-nav">
                <a href="/components/Input/input.html" class="arrow-btn"><i class="arrow left"></i>Input</a>
                <a href="/components/navigation/nav.html" class="arrow-btn">Navigation Bar<i
                        class="arrow right"></i></a>
            </div>
        </div>
    </div>
</body>

</html>