<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d1df61a108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="nav.css">
    <title>Explore UI | Navigation Bar</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Explore UI</h1>
            <div class="header-text">
                <a href="/index.html" class="link">Home</a>
                <a href="/main.html" class="link">Installation</a>
                <input class="search-bar" type="text" placeholder="Search...">
            </div>
        </div>
    </header>

    <div class="contents">
        <div class="sidebar-nav">
            <h4>Getting Started</h4>
            <a href="/main.html" class="link">Introduction</a>

            <h4>Components</h4>
            <a href="/components/alert/alert.html" class="link">Alert</a>
            <a href="/components/avatar/avatar.html" class="link">Avatar</a>
            <a href="/components/badge/badge.html" class="link">Badge</a>
            <a href="/components/button/button.html" class="link">Button</a>
            <a href="/components/card/card.html" class="link">Card</a>
            <a href="/components/Images/image.html" class="link">Image</a>
            <a href="/components/Input/input.html" class="link">Input</a>
            <a href="/components/toast/toast.html" class="link">Toast</a>
            <a href="/components/navigation/nav.html" class="link">Navigation Bar</a>
        </div>

        <div class="component-container">

            <h2>Navigation Bar</h2>
            <p class="content-text">Navigation bar is used to navigate between different pages of a website</p>
            <hr class="break-line">
            <h3> Basic NavBar</h3>
            <!-- // Basic Header --><br>
            <div class="header">
                <div class="header-a">
                    <i class="fas fa-bars icon"></i>
                    <h2>Heading</h2>
                </div>
                <div class="header-b">
                    <i class="fas fa-download icon "></i>
                    <i class="fas fa-print icon"></i>
                    <i class="fas fa-bookmark icon"></i>
                </div>

            </div> <br>
            <iframe src="https://carbon.now.sh/embed/AdIUCvFqcdDtALnDYD4q"
                style="width: 680px; height: 351px; border:0; transform: scale(1); overflow:hidden;" class="code-img"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr class="break-line">

            <!-- //standard header -->
            <h3>Scrollable NavBar</h3>
            <div class="s-container">
                <div class="header">
                    <div class="header-a">
                        <i class="fas fa-bars icon"></i>
                        <h2>Heading</h2>
                    </div>
                    <div class="header-b">
                        <i class="fas fa-download icon "></i>
                        <i class="fas fa-print icon"></i>
                        <i class="fas fa-bookmark icon"></i>
                    </div>

                </div>
                <div class="content-nav">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolorem saepe aperiam impedit
                        placeat nesciunt natus, cum rerum a, deleniti, veniam nostrum. Perferendis dignissimos, aperiam
                        a asperiores ducimus debitis? Vel voluptatibus nobis a minima dicta sint omnis corporis incidunt
                        molestiae libero nulla tenetur qui sunt consequuntur dolorum eius, quos explicabo expedita
                        suscipit, nam sapiente? Sit ex, voluptate laborum impedit cum autem reprehenderit incidunt.
                        Quis, repudiandae in deleniti est nostrum exercitationem eius, reprehenderit minima, esse fugiat
                        nemo tempore perferendis facilis voluptatibus tenetur expedita temporibus facere. Ut aperiam aut
                        molestias beatae non aspernatur sit animi nesciunt, accusamus facere doloremque, nihil ab, culpa
                        nulla. Fugit natus explicabo rem aliquam at iste doloremque perferendis amet molestiae ipsum
                        quas velit ex impedit aperiam, delectus, dolor maxime. Aut id in nesciunt neque, possimus
                        aliquam porro eligendi iusto saepe fugit iure soluta facere. Dolorum earum non officiis, soluta
                        nulla culpa commodi, odit quisquam quaerat dolores veritatis inventore architecto iusto itaque
                        asperiores ratione fugit, maiores et unde repellat voluptatem corporis consequuntur? Eligendi,
                        nisi vero? A veniam reiciendis, fuga vero minima nisi maxime, non deserunt eveniet iste
                        perferendis! Fuga possimus, dolor doloremque optio error, quasi tenetur hic suscipit praesentium
                        iusto deserunt explicabo? Minima tempore ab voluptates, cumque provident odit dolores facere
                        possimus nam voluptatum! Totam, modi ad, ex facere ullam neque esse dignissimos libero quos
                        ducimus odio mollitia rem illum deserunt explicabo dolore ipsam molestiae similique molestias
                        quas in repellendus fugiat. Ad, ut.
                    </p>
                </div>
            </div>
            <iframe src="https://carbon.now.sh/embed/6yaBaT7vcLKJLiqDORoS"
                style="width: 680px; height: 440px; border:0; transform: scale(1); overflow:hidden;" class="code-img"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr class="break-line">


            <!-- Fixed-Header -->
            <h3>Fixed Navbar</h3>
            <div class="f-container">

                <div class="header f-header">
                    <div class="header-a">
                        <i class="fas fa-bars icon"></i>
                        <h2>Heading</h2>
                    </div>
                    <div class="header-b">
                        <i class="fas fa-download icon "></i>
                        <i class="fas fa-print icon"></i>
                        <i class="fas fa-bookmark icon"></i>
                    </div>

                </div>
                <div class="content-nav">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolorem saepe aperiam impedit
                        placeat nesciunt natus, cum rerum a, deleniti, veniam nostrum. Perferendis dignissimos, aperiam
                        a asperiores ducimus debitis? Vel voluptatibus nobis a minima dicta sint omnis corporis incidunt
                        molestiae libero nulla tenetur qui sunt consequuntur dolorum eius, quos explicabo expedita
                        suscipit, nam sapiente? Sit ex, voluptate laborum impedit cum autem reprehenderit incidunt.
                        Quis, repudiandae in deleniti est nostrum exercitationem eius, reprehenderit minima, esse fugiat
                        nemo tempore perferendis facilis voluptatibus tenetur expedita temporibus facere. Ut aperiam aut
                        molestias beatae non aspernatur sit animi nesciunt, accusamus facere doloremque, nihil ab, culpa
                        nulla. Fugit natus explicabo rem aliquam at iste doloremque perferendis amet molestiae ipsum
                        quas velit ex impedit aperiam, delectus, dolor maxime. Aut id in nesciunt neque, possimus
                        aliquam porro eligendi iusto saepe fugit iure soluta facere. Dolorum earum non officiis, soluta
                        nulla culpa commodi, odit quisquam quaerat dolores veritatis inventore architecto iusto itaque
                        asperiores ratione fugit, maiores et unde repellat voluptatem corporis consequuntur? Eligendi,
                        nisi vero? A veniam reiciendis, fuga vero minima nisi maxime, non deserunt eveniet iste
                        perferendis! Fuga possimus, dolor doloremque optio error, quasi tenetur hic suscipit praesentium
                        iusto deserunt explicabo? Minima tempore ab voluptates, cumque provident odit dolores facere
                        possimus nam voluptatum! Totam, modi ad, ex facere ullam neque esse dignissimos libero quos
                        ducimus odio mollitia rem illum deserunt explicabo dolore ipsam molestiae similique molestias
                        quas in repellendus fugiat. Ad, ut.
                    </p>
                </div>

            </div>
            <iframe src="https://carbon.now.sh/embed/rjbxQnMcbF0fMCsf6wgm"
                style="width: 475px; height: 448px; border:0; transform: scale(1); overflow:hidden;" class="code-img"
                sandbox="allow-scripts allow-same-origin">
            </iframe>


            <div class="arrow-nav">
                <a href="/components/Input/input.html" class="arrow-btn"><i class="arrow left"></i>Input</a>
                <a href="/components/navigation/nav.html" class="arrow-btn">Navigation Bar<i
                        class="arrow right"></i></a>
            </div>
        </div>
    </div>
</body>

</html>