<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badge.css">
    <script src="https://kit.fontawesome.com/d1df61a108.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="component-container">
        <h2>Badge</h2>
        <div class="badge-container">
            <div class="badge">
                <i class="fas fa-apple-alt" style="font-size: x-large;"></i>
                <span class="value">14</span>

            </div>
            <div class="badge">
                <i class="fas fa-shopping-cart " style="font-size: x-large;"></i>
                <span class="value">6</span>

            </div>
            <div class="badge">
                <i class="far fa-heart" style="font-size: x-large;"></i>
                <span class="value">9</span>

            </div>
        </div>


        <div class="avatar-container">

            <div class="badge">
                <img class="avatar-large" src="/assets/avatar.jpg" alt="Avartar">
                <div class="avatar-badge online"></div>
            </div>
            <div>
                <img class="avatar-large" src="/assets/avatar.jpg" alt="Avartar">
                <div class="avatar-badge offline"></div>
            </div>
            <div>
                <img class="avatar-large" src="/assets/avatar.jpg" alt="Avartar">
                <div class="avatar-badge dnd"></div>
            </div>
        </div>
</body>

</html>