<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d1df61a108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="badge.css">

    <title>Explore UI | Badge</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Explore UI</h1>
            <div class="header-text">
                <a href="/index.html" class="link">Home</a>
                <a href="/main.html" class="link">Installation</a>
                <input class="search-bar" type="text" placeholder="Search...">
            </div>
        </div>
    </header>

    <div class="contents">
        <div class="sidebar-badge">
            <h4>Getting Started</h4>
            <a href="/components/alert/alert.html" class="link">Introduction</a>

            <h4>Components</h4>
            <a href="/components/alert/alert.html" class="link">Alert</a>
            <a href="/components/avatar/avatar.html" class="link">Avatar</a>
            <a href="/components/badge/badge.html" class="link">Badge</a>
            <a href="/components/button/button.html" class="link">Button</a>
            <a href="/components/card/card.html" class="link">Card</a>
            <a href="/components/Images/image.html" class="link">Image</a>
            <a href="/components/Input/input.html" class="link">Input</a>
            <a href="/components/toast/toast.html" class="link">Toast</a>
            <a href="/components/navigation/nav.html" class="link">Navigation Bar</a>
            <a href="/components/list/list.html" class="link">List</a>
        </div>

        <div class="component-container">
            <h2>Badge</h2>
            <p class="content-text">Badges are small circles, positioned either at top-right or bottom-right of the
                parent component. Badge can be used to display numbers, online / offline status, depending on where they
                are used.</p>
            <hr class="break-line">
            <h3>Icon with Badge</h3>
            <p class="content-text">These are various icons with badge on there top-right corner.</p>
            <div class="badge-container">
                <div class="badge-icon">
                    <i class="fa fas fa-apple-alt" style="font-size: x-large;"></i>
                    <span class="value">14</span>

                </div>
                <div class="badge-icon">
                    <i class="fas fa-shopping-cart" style="font-size: x-large;"></i>
                    <span class="value">6</span>

                </div>
                <div class="badge-icon">
                    <i class="far fa-heart" style="font-size: x-large;"></i>
                    <span class="value">9</span>

                </div>

            </div>
            <iframe src="https://carbon.now.sh/embed/sHFaUtFpR68svbwiqkQF"
                style="width: 684px; height: 426px; border:0; transform: scale(1); overflow:hidden;" class="code-img"
                sandbox="allow-scripts allow-same-origin">
            </iframe>


            <hr class="break-line">
            <h3>Avatar with Badge</h3>
            <p class="content-text">Avatar with badge are used to display the user's status which can be online ,
                offline and do-not-disturb</p>
            <div class="badge-container">

                <div>
                    <img class="avatar-large" src="/assets/avatar.jpg" alt="Avartar">
                    <div class="avatar-badge status-online"></div>
                </div>
                <div>
                    <img class="avatar-large" src="/assets/avatar.jpg" alt="Avartar">
                    <div class="avatar-badge status-offline"></div>
                </div>
                <div>
                    <img class="avatar-large" src="/assets/avatar.jpg" alt="Avartar">
                    <div class="avatar-badge status-dnd"></div>
                </div>
            </div>
            <iframe src="https://carbon.now.sh/embed/kJO9JKPR2AUSRkv4Mtux"
                style="width: 680px; height: 521px; border:0; transform: scale(1); overflow:hidden;" class="code-img"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class="arrow-nav">
                <a href="/components/avatar/avatar.html" class="arrow-btn"><i class="arrow left"></i>Avatar</a>
                <a href="/components/button/button.html" class="arrow-btn">Button<i class="arrow right"></i></a>
            </div>
        </div>

</body>

</html>