@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url(/style.css);
@import url(/main.css);
*
{
    --error-alert:#ef4444;
    --success-alert:#15803d;
    --warning-alert:#f59e0b;
    --info-alert:#06b6d4;
    --lightgrey:#e5e5e5;
    font-family: 'Montserrat', sans-serif;
}


.alert-container
{
    width: 35rem;
    background-color:var(--lightgrey);
    border: 1px solid #a3a3a3;
    padding:1rem 1.5rem;
    margin: 2rem 1.5rem;
}
.alert
{
    display: flex;
    justify-content: space-between;
    width: 25rem;
    padding-left: 1rem;
    font-weight: bold;
    color: white;
    margin: 1rem;
    border-radius: 0.4rem;
}
.alert >p
{
    padding-top: 0.6rem;
}
.icon
{
    padding: 0.8rem 1rem;
    cursor: pointer;

}
.error-alert
{
    background-color: var(--error-alert);
}
.success-alert
{
    background-color: var(--success-alert);
}
.info-alert
{
    background-color: var(--info-alert);
}
.warning-alert
{
    background-color: var(--warning-alert);
}

.outline-alert
{
    display: flex;
    justify-content: flex-start;
    width: 25rem;
    padding-left: 1rem;
    font-weight: bolder;
    margin: 1rem;
    border: 2px solid;
    border-radius: 0.4rem;
}
.outline-alert >p{
    padding-left: 0.4rem;
    padding-top: 0.3rem;
}
.outline-icon
{
    padding: 0.6rem 0.2rem;
    font-size: larger;
}
.outline-error
{
    border-color:  var(--error-alert);
    color:var(--error-alert);
}
.outline-success
{
    border-color:  var(--success-alert);
    color:var(--success-alert);
}
.outline-info
{
   color: #FFFFFF;
   border: none;
   background-color: var(--info-alert);
}
.outline-warning
{
   border-color: var(--warning-alert);
   color: var(--warning-alert);
}