<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d1df61a108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="alert.css">
    <title>Alert</title>
</head>
<body>
    <div class="component-container">
        <h2>Alert</h2>
        <div class="alert-container">
            <div class="alert error-alert">
                <p>Error Alert</p>
                <i class="fas fa-times icon"></i>
            </div>
            <div class="alert success-alert">
                <p>Success Alert</p>
                <i class="fas fa-times icon"></i>
            </div>
            <div class="alert info-alert">
                <p>Information Alert</p>
                <i class="fas fa-times icon"></i>
            </div>
            <div class="alert warning-alert">
                <p>Warning Alert</p>
                <i class="fas fa-times icon"></i>
            </div>
</div>
<!-- Outline Alert -->
<div class="alert-container">
    <div class="outline-alert outline-error">
    <i class="fas fa-times-circle outline-icon"></i>
     <p>Error Alert</p>
 </div>

  <div class="outline-alert outline-success">
     <i class="far fa-check-circle outline-icon"></i></i>
      <p>Success Alert</p>
  </div>

 <div class="outline-alert outline-info">
     <i class="fas fa-info-circle outline-icon"></i>
      <p>Information Alert</p>
 </div>

 <div class="outline-alert outline-warning">
     <i class="fas fa-exclamation-triangle outline-icon"></i>
      <p>Warning Alert</p>
 
            
            
        </div>
    </div>
</body>
</html>